.Admin-Dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f5f7ff;
  position: relative;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
  position: absolute;
  top: 0%;
  left: 0%;
}
