@media (min-width: 2400px) {
  .course-card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}

@media (max-width: 1200px) {
  .footerupper {
    gap: 3.5rem !important;
  }
  .footerupper {
    display: grid;
    grid-template-columns: 25fr 20fr 20fr 10fr !important;
    gap: 2rem;
  }
  .footerlogo {
    width: 400px !important;
  }
}

@media (min-width: 1080px) {
  .nav-menu-icon,
  .nav-modal {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* Styles for smaller screens (below 1080px) */
@media (max-width: 1079px) {
  .nav-content {
    display: none; /* Hide the main navigation */
  }

  /* Hamburger Icon */
  .nav-menu-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 990;
  }

  /* Modal Styling */
  .nav-modal {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    justify-content: center;
    align-items: center;
  }

  .nav-modal.active {
    display: flex; /* Show when active */
  }

  .nav-modal-content {
    display: flex;
    flex-direction: column;
    gap: 5px;

    background: white;
    padding: 42px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 300px;
  }

  .nav-modal .nav-links {
    display: block;
    margin: 10px 0;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
  }

  .nav-modal .nav-links:hover {
    color: white;
  }

  /* Close button */
  .nav-close-btn {
    display: inline-block;
    cursor: pointer;
    font-size: 4rem;
    cursor: pointer;
    color: inherit;
    top: 15px;
    right: 15px;
    align-self: flex-end;
  }
  .guidanceWrapper {
    margin: 0px 40px;
    padding: 20px;
  }
  .resources-searchbar {
    width: 70%;
    /* margin: auto; */
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .resources-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 20px;
    width: auto;
  }
  .resume-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 40px !important;
  }
  .resume-image-ai-tools {
    flex-direction: row;
    width: 220px;
  }

  .course-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  .aboutus-team-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .aboutus-card {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .detailcard-container {
    margin: 0px 10px !important;
  }
  .footerupper {
    gap: 3.5rem !important;
  }
  .footerupper {
    display: grid;
    grid-template-columns: 25fr 20fr 20fr 10fr !important;
    gap: 2rem;
  }
  .footerlogo {
    width: 300px !important;
  }
  .email1 {
    flex-direction: column;
    gap: 10px;
  }
  .emailinput {
    width: 100%;
  }
  .upper-first-footer {
    width: 100% !important;
  }
  footer {
    padding: 2.5rem 2.5rem;
  }
  .nav-button-login-signup {
    display: none !important;
  }
}

@media (max-width: 1050px) {
  .career-container {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .upper-first {
    height: 0.05rem;
    width: 30%;
    background-color: #6a737d61;
  }
  .company {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    grid-template-rows: auto;
    padding: 2rem;
    gap: 2.08rem;
    justify-content: center;
    align-items: center;
  }
  .main section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .gridicons3-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 270px 270px;
    gap: 3rem;
  }

  .rater .h {
    position: absolute;
    background-color: #d3f9d8;
    color: #15803d;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1.5rem;
    top: -27%;
    left: 15%;
  }
  .student-testimonial {
    display: flex;
    flex-direction: column;
  }

  .contactus-container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .career-container .about,
  .team {
    margin: 0px 35px !important;
  }
  .team-cards {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 80% !important;

    gap: 15px;
    margin-top: 20px;
  }
  .team {
    width: 80% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team-cards .card {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 20px;
    height: 250px;
    gap: 20px !important;
  }
  .team-cards .card-img {
    border-radius: 10px;
    width: 60% !important;
  }
  .team-cards .card-info {
    width: 40% !important;
  }
  .resume-image-ai-tools {
    flex-direction: column;
    width: 220px;
  }
  .footerupper {
    gap: 2rem !important;
  }
  .footerupper {
    display: grid;
    grid-template-columns: 20fr 20fr 20fr 10fr !important;
    gap: 2.5rem;
  }
  .footerlogo {
    width: 300px !important;
  }
  .courses-cards {
    grid-template-columns: repeat(2, 1fr) !important;
    padding: 20px !important;
  }
  .course-card {
    margin: 0px !important;
  }
}
@media (max-width: 950px) {
  .package {
    display: flex;
    flex-direction: column;
  }
  .package img {
    width: 500px;
  }
  /* .rater-button {
    display: none;
  } */
  .company {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 2fr));
    grid-template-rows: auto;
    padding: 1.2rem;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }
  .resume-image {
    width: 70% !important;
  }
  .detailcard-container {
    margin: 0;
    padding: 25px 25px !important;
  }
  .resume-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px !important;
  }
  .resume-content {
    padding: 10px;
  }
  .resume-section {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20rem 5rem;
    position: relative;
  }
  .guidanceWrapper h2 {
    font-size: 2.5rem;
  }
  .guidanceWrapper p {
    font-size: 1.5rem;
  }
  .guidanceWrapper h5 {
    font-size: 2.5rem;
  }
  .guidanceInfo p {
    font-size: 1.5rem;
  }
  h1 {
    margin-bottom: 1.5rem;
    letter-spacing: -0.1rem;
    line-height: 1;
    font-size: 5rem;
    color: #333;
    font-weight: 800;
  }
  .btn {
    padding: 1rem 1.2rem;
  }
  .paragraph-primary {
    font-size: 1.7rem;
    margin-bottom: 5rem;
    line-height: 1.4;
  }
  .mover-buttons3 {
    top: 8%;
    right: 10%;
  }
  .mover-buttons1 {
    top: 8%;
    left: 10%;
  }
  .mover-buttons2 {
    bottom: 8%;
    left: 10%;
  }
  .mover-buttons4 {
    bottom: 8%;
    right: 10%;
  }
  .upper-first {
    height: 0.05rem;
    width: 24%;
    background-color: #6a737d61;
  }
  .heading-secondary {
    color: #333;
    font-weight: 700;
    font-size: 3.8rem;
  }
  .allparagraph {
    font-size: 1.7rem;
    word-spacing: 00.05rem;
    line-height: 1.4;
  }
  h4 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
  }
  .icon-paragraph {
    font-size: 1.6rem !important;
    word-spacing: 00.05rem;
    line-height: 1.4;
  }
  h5 {
    color: rgba(68, 68, 68, 0.886);
    font-size: 1.5rem;
  }
  .hi .h {
    left: 80%;
  }
  .rater .h {
    position: absolute;
    background-color: #d3f9d8;
    color: #15803d;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1.5rem;
    top: -27%;
    left: 22%;
  }
  .grid7 {
    margin-top: -7rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    position: relative;
    max-height: 70rem;
  }
  .flex-images1,
  .flex-images7 {
    display: none;
  }
  .container-contactus {
    padding: 25px;
  }

  .career-requirements {
    font-size: 2rem;
  }
  .contact-form h4 {
    font-size: 2.5rem;
    color: #155bd5;
  }
  .info-sections {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 17px;
  }
  .about-info {
    flex-direction: column;
  }
  .about-info p {
    padding-bottom: 25px;
  }
  .detailedcard-upper {
    flex-direction: column !important;
  }
  .detailcard-container {
    gap: 25px !important;
  }
  .detailedcard-upper {
    gap: 22px !important;
  }
  .detailcard-step {
    gap: 20px !important;
  }
  .detail-card-margin {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }
  .detailcard-steps {
    gap: 5px !important;
  }
  .detailedcard-upper img {
    width: 50% !important;
    border-radius: 10px;
  }
  .detailcard-container {
    margin: 0px 10px !important;
  }
  .footerupper {
    gap: 4rem !important;
  }
  .footerupper {
    display: grid;
    grid-template-columns: 25fr 20fr !important;
    gap: 2rem;
  }
  .footerlogo {
    width: 400px !important;
  }
  footer {
    padding: 4.5rem 4.5rem !important;
  }
  .loko {
    width: 20rem;
  }

  .tab-buttons-tiles {
    flex-direction: column !important;
  }
  .tab-item-1-tile {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: 2px solid #cbcfd4;
    border-right: none;
  }
  .tab-item-2-tile {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: 2px solid #cbcfd4;

    border-right: none;
  }
  .tab-item-3-tile {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: 2px solid #cbcfd4;

    border-right: none;
  }
  .tab-item-4-tile {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: 2px solid #cbcfd4;

    border-right: none;
  }
  .projects-progressor {
    display: flex;
    gap: 1px !important;
    flex-direction: column !important;
    margin-bottom: 10px !important;
  }
  .view-resources-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 17px !important;
    font-size: 17px !important;
  }

  .view-resources-table th {
    border: 1px solid #ddd;
    padding: 5px !important;
    text-align: center;
  }

  .view-resources-table td {
    border: 1px solid #ddd;
    padding: 5px !important;
    text-align: center;
  }
}
@media (max-width: 740px) {
  .upper-first {
    height: 0.05rem;
    width: 17%;
    background-color: #6a737d61;
  }
  .guidanceWrapper {
    padding: 15px;
  }
  #new {
    padding-left: 25px;
    padding-right: 25px;
  }
  .author1 {
    width: 80%;
  }
  .author2 {
    width: 90%;
  }
  .team-cards {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 80% !important;

    gap: 15px;
    margin-top: 20px;
  }
  .team {
    width: 90% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team-cards .card {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 20px;
    height: 210px;
    gap: 20px !important;
  }
  .team-cards .card-img {
    width: 60% !important;
    border-radius: 10px;
  }
  .team-cards .card-info {
    width: 40% !important;
  }
  .resume-image {
    width: 60% !important;
  }
  .footerupper {
    gap: 4rem !important;
  }
  .footerupper {
    display: grid;
    grid-template-columns: 25fr 20fr !important;
    gap: 2rem;
  }
  .footerlogo {
    width: 350px !important;
  }
  footer {
    padding: 4rem 3rem !important;
  }
  .Appic {
    padding: 20px !important;
    padding-top: 25px !important;
    padding-bottom: 70px !important;
  }
  .note-search-container div {
    width: 70% !important;
  }
  .note-search-container select {
    width: 30% !important;
    padding: 7px 5px !important;
  }
  .note-container_notes {
    grid-template-columns: 1fr !important;
  }
  .ai-container {
    width: 100% !important;
  }
  .ai-right-info {
    display: flex;
    flex-direction: column !important;
    gap: 10px;
    width: 100% !important;
  }
  .ai-card img {
    width: 50% !important;
  }
  .ai-right-info {
    width: 100% !important;
  }
  .ai-card {
    flex-direction: column !important;
  }
  .journey-item {
    display: flex;
    align-items: flex-start !important;
    flex-direction: column !important;
    gap: 10px !important;
    margin-bottom: 30px;
    text-align: left;
    padding: 20px !important;
  }
  .values-section {
    padding: 50px 20px !important;
  }
}
@media (max-width: 700px) {
  .detailcard-container {
    gap: 25px !important;
  }
  .detailedcard-upper {
    gap: 22px !important;
  }
  .detailcard-step {
    gap: 20px !important;
  }
  .detail-card-margin {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }
  .detailcard-steps {
    gap: 5px !important;
  }
  .detailedcard-upper img {
    width: 80% !important;
    border-radius: 10px;
  }
}
@media (max-width: 650px) {
  .gridicons3-3 {
    display: flex;
    flex-direction: column;
  }
  .package img {
    width: 300px;
  }
  .extramarginbottom {
    margin-bottom: 40px;
  }
  .package {
    row-gap: 5rem;
  }
  .unknown {
    display: none;
  }
  .zero {
    margin-bottom: 2rem;
  }
  .student-heading {
    margin-bottom: 4rem;
  }
  .rater .h {
    position: absolute;
    background-color: #d3f9d8;
    color: #15803d;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1.5rem;
    top: -27%;
    left: 37%;
  }
  .job-card {
    padding: 30px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .container-contactus {
    padding: 20px !important;
  }
  .contact-form {
    padding: 20px !important;
  }
  .author2 {
    gap: 7rem;
    width: 100%;
  }
  .author1 {
    width: 90%;
  }
  .padder {
    padding: 1.7rem 2rem;
    border: solid 0.05rem #6a737d70;
    border-radius: 1.2rem;
    box-shadow: 0 0 1rem rgba(153, 153, 153, 0.141);
    gap: 1.5rem;
  }
  .miniallparagraph {
    font-size: 1.4rem;
  }
  .upper,
  .lower {
    font-size: 1.7rem;
  }
  .hi .h {
    left: 70%;
  }
  .aboutus-card {
    padding: 15px !important;
    background-color: white;
    border-radius: 10px;
    flex-direction: column !important;
  }
  .aboutus-card-img img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
  .aboutus-card-info {
    padding-top: 5px !important;
  }
  .about-info {
    margin: 1rem !important;
  }
  .about-info p {
    margin: 0 1rem !important;
    text-align: justify;
  }
  .guidanceInfo {
    padding: 15px !important;
    font-size: 14px !important;
    margin-bottom: 15px !important;
  }
  .guidanceInfo p {
    font-size: 1.3rem;
  }
  .guidanceWrapper h5 {
    font-size: 2rem;
  }
  .guidanceWrapper {
    padding: 20px !important;
  }
  .guidanceFormBox {
    padding: 20px !important;
  }
  .guidanceWrapper {
    margin: 0px 20px !important;
  }
  .guidanceText {
    width: 85% !important;
    font-size: 15px !important;
    line-height: 1.4 !important;
  }
  .guidanceIntroBox {
    flex-direction: column;
    gap: 10px;
  }
  .resources-searchbar {
    width: 90% !important;
  }
  .resumedetail-ul-li-i {
    font-size: 1.5rem !important;
  }
  .resume-content {
    flex: 1 1;
    margin-left: 0px !important;
  }
  .resume-upper-section {
    width: 100% !important;
  }
  .resume-template ul {
    list-style: none;
    font-size: 1.2rem !important;
    margin-bottom: 10px !important;
  }
  .resume-image-ai-tools {
    gap: 20px !important;
  }
  .marginbottom {
    margin-bottom: 1.5rem !important;
  }
  .resources-container {
    padding: 10px 5px !important;
  }
  .resources-cards {
    padding: 10px 5px !important;
  }
  .reference {
    font-size: 3rem !important;
    margin-bottom: 30px !important;
    align-self: flex-start !important;
    margin-top: 30px !important;
  }
  .resume-btn {
    display: flex;
    flex-direction: column !important;
    gap: 10px !important;
    margin: 15px !important;
  }
  .resume-image {
    width: 60% !important;
  }
  .aboutus-team-cards {
    width: 100%;

    display: flex;
    flex-direction: column !important;
    gap: 20px;
  }
  .mover-buttons {
    height: 3.5rem !important;
  }
  .guidanceInfo p {
    font-size: 1.4rem !important;
  }
  .detailcard-container {
    gap: 25px !important;
  }
  .detailedcard-upper {
    gap: 22px !important;
  }
  .detailcard-step {
    gap: 20px !important;
  }
  .detail-card-margin {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }
  .detailcard-steps {
    gap: 5px !important;
  }
  .detailedcard-upper img {
    width: 80% !important;
    border-radius: 10px;
  }
  .detailcard-container {
    padding: 20px !important;
  }
  .detailcard-line {
    display: none;
  }
  .detailcard-step {
    flex-direction: column !important;
  }
  .detailcard-rightside {
    gap: 17px !important;
  }
  .modal {
    width: 90% !important;
  }
  .contact-form {
    padding: 10px !important;
  }
  .footerupper {
    gap: 2.5rem !important;
  }
  .footerupper {
    display: grid;
    grid-template-columns: 25fr 20fr !important;
    gap: 2rem;
  }
  .footerlogo {
    width: 300px !important;
  }
  footer {
    padding: 2.5rem 3rem !important;
  }
  .singleresume {
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .singleresume li {
    list-style: none;
    font-size: 1.4rem !important;
  }
  .compiler-container {
    display: flex;
    flex-direction: column;
  }
  .Appic {
    padding-top: 15px !important;
    padding-bottom: 70px !important;
    padding-right: 15px !important;
    padding-left: 2px !important;
    gap: 2px !important;
  }
  .note-search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .note-search-container div {
    width: 100% !important;
    padding: 4px 10px !important;
  }
  .note-search-container select {
    width: 100% !important;
    padding: 7px 15px !important;
  }
  .note-container_notes {
    grid-template-columns: 1fr !important;
  }
  .sidebar img {
    width: 50px !important;
    cursor: pointer;
  }
}
@media (max-width: 560px) {
  .footerupper {
    gap: 4rem !important;
  }
  .footerupper {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 1.5rem;
  }
  .footerlogo {
    width: 100% !important;
  }
  footer {
    padding: 2.5rem 3rem !important;
  }
  .copyright {
    flex-direction: column;
    gap: 10px;
  }
  .detail-buttons {
    flex-direction: column !important;
  }
  .resume-image {
    width: 90% !important;
  }
  .resume-upper-section {
    padding: 12px !important;
  }
  .resume-section {
    padding: 14px !important;
  }
  .main section {
    padding: 2rem 0rem;
  }
  #new {
    padding-left: 22.5px;
    padding-right: 22.5px;
  }
  .author1 {
    width: 92%;
    padding: 1.7rem !important;
  }
  .author1,
  .authorfirst {
    display: flex;
    flex-direction: column;
    gap: 1.2rem !important;
  }
  .guidanceDetailsBox {
    width: 90%;
    margin: auto;
  }
  .course-search-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px !important;
  }
  .comparison-item-row {
    display: flex;
    flex-direction: column !important;
    gap: 10px;
  }
  .rater-button .cent {
    display: none;
  }
  .problem-section,
  .solution-section {
    padding: 15px;
  }
  .comparison-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 15px !important;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  }
  .courses-searchbar input,
  .ai-searchbar input {
    padding: 0px !important;
  }

  .course-info {
    margin-top: 0px !important;
  }
  .courses-search-icon,
  .ai-search-icon {
    font-size: 14px !important;
  }
  .courses-searchbar,
  .ai-searchbar {
    width: 100% !important;
  }
  .course-search-filter {
    margin-top: 15px !important;
  }
  .courses-container {
    padding: 0px !important;
  }
  .courses-cards {
    grid-template-columns: 1fr !important;
  }
  .ai-searchbar {
    width: 100% !important;
    margin: 0px !important;
  }
  .ai-cards {
    width: 100%;
    min-height: 500px;
    /* min-width: 1320px; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px !important;
    width: auto;
    padding: 12px !important;
    margin: 20px 0px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 20px;
  }
  .ai-card {
    padding: 15px !important;
  }

  .ai-upper-section {
    width: 98% !important;
  }
}
@media (max-width: 450px) {
  .upper-first {
    display: none;
  }
  .upper-first-footer {
    display: block !important;
  }
  .gridicons3-3 {
    display: flex;
    flex-direction: column;
  }
  .heading-primary {
    margin-bottom: 1.1rem;
    letter-spacing: -0.1rem;
    line-height: 1;
    font-size: 4rem;
    color: #333;
    font-weight: 700;
  }
  .heading-secondary {
    color: #333;
    font-weight: 700;
    font-size: 3rem;
  }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18rem 3rem;
    position: relative;
  }
  .mover-buttons1 {
    top: 5%;
    left: 7%;
  }
  .mover-buttons3 {
    top: 5%;
    right: 7%;
  }
  .mover-buttons2 {
    bottom: 4%;
    left: 7%;
  }
  .mover-buttons4 {
    bottom: 4%;
    right: 7%;
  }
  .paragraph-primary {
    font-size: 1.5rem;
    margin-bottom: 4rem;
    line-height: 1.3;
  }
  .allparagraph {
    font-size: 1.5rem;
    word-spacing: 00.05rem;
    line-height: 1.3;
  }
  .btn {
    padding: 0.7rem 1.2rem;
  }
  .icon-paragraph {
    font-size: 1.5rem !important;
    word-spacing: 00.05rem;
    line-height: 1.3;
  }
  .aboutus-card {
    width: 70% !important;
    padding: 15px !important;
    background-color: white;
    border-radius: 10px;
    flex-direction: column !important;
  }
  .aboutus-team-cards {
    align-items: center;
  }
  .aboutus-card-img img {
    width: 225px;
    height: 225px;
  }
  .career-container .about,
  .team {
    margin: 0px 20px !important;
  }
  .container-contactus {
    width: 93% !important;
  }
  .detailcard-container {
    gap: 25px !important;
  }
  .detailedcard-upper {
    gap: 22px !important;
  }
  .detailcard-step {
    gap: 20px !important;
  }
  .detail-card-margin {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }
  .detailcard-steps {
    gap: 5px !important;
  }
  .detailedcard-upper img {
    width: 90% !important;
    border-radius: 10px;
  }
  .detailcard-container {
    padding: 16px !important;
  }
  .detailcard-line {
    display: none;
  }
  .detailcard-step {
    flex-direction: column !important;
  }
  .detailcard-rightside {
    gap: 14px !important;
  }
  .detailcard-container {
    margin: 20px 10px !important;
  }
  .course-card {
    margin: 0 !important;
  }
  .resources-searchbar {
    width: 100% !important;
  }
  .guidanceText {
    width: 92% !important;
    font-size: 15px !important;
    line-height: 1.4 !important;
  }
  header {
    max-width: 144rem;
    margin: 0 auto;
    display: flex;
    padding: 1rem 1.7rem !important;
    align-items: center;
    justify-content: space-between;
  }
  header a img {
    width: 150px;
  }
  .nav-menu-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 17px !important;
    right: 20px;
    z-index: 990;
  }
  .detailcard-container-tiles {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  .playlist-content {
    padding: 10px !important;
  }
  .playlist-header {
    padding: 7px !important;
  }
  .view-resources-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px !important;
    font-size: 14px !important;
  }
  .view-resources-table input {
    transform: scale(1.2);
  }
  .profile-detailcard-container {
    margin: 0 !important;
    padding: 15px 15px !important;
    gap: 20px !important;
  }
  .profile-form-upper {
    padding: 20px 20px !important;
  }
  .profile-form {
    padding: 15px 15px !important;
  }
  .ai-container {
    padding: 0px !important;
  }
  .ai-card img {
    width: 75% !important;
  }
}

@media (max-width: 400px) {
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14rem 3rem !important;
    position: relative;
  }
  .mover-buttons1 {
    top: 3%;
    left: 5%;
  }
  .mover-buttons3 {
    top: 3%;
    right: 5%;
  }
  .mover-buttons2 {
    bottom: 2%;
    left: 5%;
  }
  .mover-buttons4 {
    bottom: 2%;
    right: 5%;
  }
  .grid7 {
    margin-top: -5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    position: relative;
    max-height: 70rem;
  }
  .flex-images2,
  .flex-images6 {
    display: none;
  }
  .company {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48px, 2fr));
    grid-template-rows: auto;
    padding: 1.2rem;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }
  .aboutus-card-img img {
    width: 200px;
    height: 200px;
  }
  .resume-section {
    width: 95% !important;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .course-card img {
    width: 100%;
    height: 240px !important;
    object-fit: cover;
  }
  .resources-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    flex-direction: column !important;
    background-color: white;
    border-radius: 8px !important;
    padding: 5px;
  }
  .resources-button {
    border-radius: 100px !important;
  }

  footer {
    padding: 2rem 1.5rem !important;
  }
  .reserved {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .resources-container {
    width: 100% !important;
  }

  .resume-section {
    width: 100% !important;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .resume-upper-section {
    padding: 15px !important;
  }
  .resume-upper-section-padding {
    padding: 5px !important;
  }
  .resources-searchbar {
    width: 90% !important;
    padding: 5px 10px !important;
  }
  .course-card {
    margin: 7px !important;
  }
  .resources-searchbar input {
    width: 60%;
  }
  .job-card {
    padding: 15px !important;
  }
}

@media (max-width: 300px) {
  .course-card {
    margin: 7px !important;
  }
  .resources-container {
    width: 100% !important;
  }
  .resources-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    flex-direction: column !important;
    background-color: white;
    border-radius: 8px !important;
    padding: 5px;
  }
  .resources-button {
    border-radius: 100px !important;
  }
  .resume-section {
    width: 100% !important;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .resume-upper-section {
    padding: 15px !important;
  }
  .resume-upper-section-padding {
    padding: 5px !important;
  }
  .resources-searchbar {
    width: 95% !important;
  }
  .resources-searchbar {
    width: 95% !important;
    padding: 5px 5px !important;
  }
}
